In [1]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [2]:
x = [1,2,3]

for item in x:
    # comment
    pass

print('end of my script')

end of my script

In [3]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [5]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [7]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [8]:
mylist = [1,2,3]

In [11]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [12]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [13]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [14]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [15]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [16]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [17]:
'mykey' in {'mykey': 234}

True

In [18]:
d = {'mykey':234}

234 in d.values()

True

In [19]:
mylist = [10,20,30,40,100]

min(mylist)

10

In [20]:
max(mylist)

100

In [21]:
from random import shuffle

mylist = [1,2,3,4,5,6,7,8,9,10]

In [22]:
shuffle(mylist)

In [23]:
mylist

[4, 1, 7, 2, 8, 10, 5, 3, 9, 6]

In [24]:
shuffle(mylist)

In [25]:
mylist

[6, 7, 1, 10, 2, 4, 8, 3, 5, 9]

In [26]:
from random import randint

In [27]:
randint(0,100)

25

In [28]:
randint(0,100)

50

In [30]:
result = input('Enter a number here: ')

Enter a number here: 30

In [31]:
result

'30'

In [32]:
int(result)

30

In [33]:
mystring = 'hello'

mylist = []

for letter in mystring:
    mylist.append(letter)

In [34]:
mylist

['h', 'e', 'l', 'l', 'o']

In [35]:
mylist = [letter for letter in mystring]

In [36]:
mylist

['h', 'e', 'l', 'l', 'o']

In [37]:
mylist = [x for x in 'word']

In [38]:
mylist

['w', 'o', 'r', 'd']

In [41]:
mylist = [x**2 for x in range(0,11)]

In [42]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [46]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]

In [47]:
mylist

[0, 4, 16, 36, 64, 100]

In [48]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [49]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [50]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

In [51]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [54]:
st = 'Print only the words that start with s in this sentence'
s_split = st.split()

for word in s_split:
    if(word[0] == 's'):
        print(word)

start
s
sentence

In [57]:
for x in range(0,10,2):
    print(x)

0
2
4
6
8

In [58]:
mylist = [x for x in range(1,50) if x%3 == 0]
mylist

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [61]:
st = 'Print every word in this sentence that has an even number of letters'
s_split = st.split()
for word in s_split:
    if len(word) % 2 == 0:
        print('even')

even
even
even
even
even
even
even
even
even

In [62]:
num_list = [x for x in range(1,101)]
for num in num_list:
    if num % 3 == 0 and num % 5 == 0:
        print('FizzBuzz')
    elif num % 5 == 0:
        print('Buzz')
    elif num % 3 == 0:
        print('Fizz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [64]:
st = 'Create a list of the first letters of every word in this string'
st_split = st.split()

my_list = [word[0] for word in st_split]
    
my_list

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']